<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
  </head>
  <body>
    <div class="d-flex flex-column align-items-end me-4">
      <div>
        <h3><% username %></h3>
      </div>
      <form action="/users/logout" method="post">
        <button type="submit" class="btn btn-primary mt-2">Déconnexion</button>
      </form>
    </div>
    <div class="container">
      <div>
        <h1>Ceci est un espace prive</h1>
      </div>
      <!-- affichage de l'espace prive -->
    </div>
  </body>
</html>
