<div class="d-flex flex-column align-items-end me-4">
    <div>
        <h3><% user %> </h3>
        <h4> Connexion Réussie </h4>
    </div>
    <form action="/users/logout" method="post">
        <button type="submit" class="btn btn-primary mt-2">Déconnexion</button>
    </form>
</div>